/kernel-deps
/limine
/ovmf
*.iso
*.hdd
/iso_root
/kernel/freestnd-c-hdrs-0bsd
/kernel/cc-runtime*
/kernel/bin
/kernel/obj
/.vscode
log
os64_kernel_debug.asm
*.log
os64_kernel.sym
external/pci_devices.bin
pci.ids
